@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway:wght@100&family=Roboto&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

html,
body {
   
    background-color: #000000;
   
}

.content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.choices {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.scores {
    text-align: center;
    color: #0067b2;
    font-size: 40px;
    padding: 0px;
}

ul button {
    background: none;
    border: none;
    font-size: 180px;
    transition: 0.1s;
    padding: 0px;
}

#guess {
    color: #fb9800;
}

#what\'s {
    color: #fff100;
}

#next {
    color: #00a94c;
}

ul button:hover {
    font-weight: 600;
    transition: 0.1s;
    cursor: pointer;

}

.computerDisplay{
    text-align: center;
    order: 1;
    padding: 10px;
    margin: 10px;
}

#computer {
    color: #e3132c;
    font-size: 60px;
    padding: 0px;
}
#computerSays {
    color: white;
    font-size: 60px;
    padding: 0px;
}